In [2]:
import pandas as pd
import numpy as np

## Задание для тренировки

Вам дан датасет по тому, какие имена были популярны в разные года. Датасет содержит следующие колонки: 

- `year` $-$ год
- `name` $-$ имя ребенка
- `number` $-$ кол-во детей, названных этим именем

__!__ В задания для отрисовки графиком можно пользоваться любым из инструментов: `matplotlib` / `seaborn` / `plotly`

In [3]:
df = pd.read_csv('data/babynames.csv', sep=',')

In [4]:
df.head()

   year    name  number
0  1880   Aaron     102
1  1880      Ab       5
2  1880   Abbie      71
3  1880  Abbott       5
4  1880    Abby       6

1. Посмотрите на ваши данные. Сколько наблюдений вы имеете? Правильные ли тип колонок? Сколько пропусков?

In [16]:
### Ваш код

2. За какой период времени имеются наблюдения?

In [19]:
### Ваш код

3. Выведите топ-5 по популярности имен в 1900 году

In [23]:
### Ваш код

4. Сколько детей назвали именем John за весь период имеющихся данных?

In [27]:
### Ваш код

5. Какое самое популярное имя за каждый год?

In [51]:
### Ваш код

6. Создать колонку, которая будет показывать долю для каждого имени относительно максимального значения для этого имени за весь период.

In [52]:
### Ваш код

7. Нарисовать график: по оси x год, по оси y количество детей, которые родились в этот год.

In [53]:
### Ваш код

8. Давайте увидим что-то интересное. Посмотрим как “Игра Престолов” влияет на ее поклонников. Посмотрим на динамику имя Arya и Emilia.

In [ ]:
### Ваш код

9. Нарисовать динамику во времени имен, которые вошли в топ-3 в 2010 году.

In [ ]:
### Ваш код