In [1]:
x = [10, -5 , 13]
x = list()

In [2]:
x.append(20)

In [3]:
x

[10, -5, 13, 20]

In [7]:
type(x)

list

In [11]:
s = set()
type(s)

set

### Базовые операции со словарем

In [8]:
d = {}
d = dict()

In [9]:
d

{}

In [10]:
type(d)

dict

In [12]:
d = {
    'Ahmed': 24,
    'Artur': 27,
    'Max': 15,
    'Rita': 28,
    'Anna': 21,
}

In [17]:
d

{'Ahmed': 24, 'Artur': 27, 'Max': 15, 'Rita': 28, 'Anna': 21}

In [15]:
d['Ahmed']

24

In [19]:
d['Alina']

KeyError: 'Alina'

In [20]:
d['Alina'] = 18

In [21]:
d

{'Ahmed': 24, 'Artur': 27, 'Max': 15, 'Rita': 28, 'Anna': 21, 'Alina': 18}

In [22]:
d['Alina']

18

In [26]:
# d['Ahmed'] = d['Ahmed'] + 1
d['Ahmed'] += 1

In [27]:
d

{'Ahmed': 26, 'Artur': 27, 'Max': 15, 'Rita': 28, 'Anna': 21, 'Alina': 18}

In [28]:
d.pop('Ahmed')

26

In [29]:
d

{'Artur': 27, 'Max': 15, 'Rita': 28, 'Anna': 21, 'Alina': 18}

In [30]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

### Что-то посложнее

__mutable__:
* list (tuple)
* set (frozenset)
* dict

In [36]:
d = {
    1: 6,
    'asdf': 23,
    False: 'hah',
    (1, 2, 3): 6,
    1.5: 3,
    4: {
        'Ahmed': 21,
        'Akhmed': 22,
    },
    6: [1, 2, 3],
}

In [41]:
d

{1: 6,
 'asdf': 23,
 False: 'hah',
 (1, 2, 3): 6,
 1.5: 3,
 4: {'Ahmed': 21, 'Akhmed': 22},
 6: [1, 2, 3]}

In [40]:
d[4]['Ahmed']

21

In [42]:
d = {
    'Ahmed': 21,
    'Ahmed': 22,
}

In [43]:
d

{'Ahmed': 22}

In [ ]:
d['Ahmed']

In [98]:
d = {
    'Ahmed': 24,
    'Artur': 27,
    'Max': 15,
    'Rita': 28,
    'Anna': 21,
    'Alina': 18,
}

In [51]:
keys = list(d.keys())

In [52]:
keys

['Ahmed', 'Artur', 'Max', 'Rita', 'Anna', 'Alina']

In [53]:
keys[0]

'Ahmed'

In [55]:
for name in d.keys():
    print(name)

Ahmed
Artur
Max
Rita
Anna
Alina

In [57]:
len(d)

6

In [59]:
s = 0
for age in d.values():
    s += age
print(round(s / len(d)))

22

In [62]:
round(3.3234234, 2)

3.32

In [60]:
round(3.5)

4

In [ ]:
3.3 -> 4

In [63]:
from math import floor, ceil

In [64]:
floor(3.3)

3

In [65]:
ceil(3.3)

4

In [67]:
k = 10
v = 5

In [68]:
k, v = 10, 5

In [70]:
10, 5

(10, 5, 5)

In [71]:
x = [
    (1, 1),
    (2, 4),
    (3, 9),
    (4, 16),
]

In [72]:
x[0]

(1, 1)

In [73]:
for i in x:
    print(i)

(1, 1)
(2, 4)
(3, 9)
(4, 16)

In [74]:
for i in x:
    k, v = i
    print(k, v)

1 1
2 4
3 9
4 16

In [75]:
for k, v in x:
    print(k, v)

1 1
2 4
3 9
4 16

In [77]:
d

{'Ahmed': 24, 'Artur': 27, 'Max': 15, 'Rita': 28, 'Anna': 21, 'Alina': 18}

In [78]:
d.items()

dict_items([('Ahmed', 24), ('Artur', 27), ('Max', 15), ('Rita', 28), ('Anna', 21), ('Alina', 18)])

In [76]:
for name, age in d.items():
    print(f'{name}: {age}')

Ahmed: 24
Artur: 27
Max: 15
Rita: 28
Anna: 21
Alina: 18

In [79]:
d

{'Ahmed': 24, 'Artur': 27, 'Max': 15, 'Rita': 28, 'Anna': 21, 'Alina': 18}

In [84]:
d['Max']

15

In [83]:
d.get('Max')

15

In [85]:
d['Kirill']

KeyError: 'Kirill'

In [90]:
d['Kirill'] = 22

In [104]:
d.get('Kirill', 10)

10

In [99]:
d

{'Ahmed': 24, 'Artur': 27, 'Max': 15, 'Rita': 28, 'Anna': 21, 'Alina': 18}

In [100]:
d2 = {
    'Alena': 25,
    'Egor': 30,
    'Artur': 28,
}

In [101]:
d.update(d2)  # d + d2

In [102]:
d

{'Ahmed': 24,
 'Artur': 28,
 'Max': 15,
 'Rita': 28,
 'Anna': 21,
 'Alina': 18,
 'Alena': 25,
 'Egor': 30}

### Задачка на словарь

In [125]:
# text = 'one two one tho three'  # input()
text = """
She sells sea shells on the sea shore;
The shells that she sells are sea shells I'm sure.
So if she sells sea shells on the sea shore,
I'm sure that the shells are sea shore shells.
"""
tokens = text.split()

In [126]:
d = {}  # key – token, value – count
answers = []
for token in tokens:
    count = d.get(token, 0)
    d[token] = d.get(token, 0) + 1
    answers.append(count)
    
print(' '.join(map(str, answers)))

0 0 0 0 0 0 1 0 0 1 0 0 1 0 2 2 0 0 0 0 1 2 3 3 1 1 4 0 1 0 1 2 4 1 5 0 0

In [119]:
d

{'one': 2, 'two': 1, 'tho': 1, 'three': 1}

In [120]:
answers

[0, 0, 1, 0, 0]

In [127]:
x = [1, 2, 3]

In [128]:
x

[1, 2, 3]

In [130]:
list(map(str, x))

['1', '2', '3']

In [131]:
" ".join(['1', '2', '3'])

'1 2 3'

In [135]:
d = {}  # key – word, value – count

In [137]:
if 'Ahmed' in d:
    d['Ahmed'] = d['Ahmed'] + 1
else:
    d['Ahmed'] = 0

In [ ]:
d['Ahmed'] = d['Ahmed'].get(0) + 1

In [138]:
from collections import defaultdict

In [139]:
d = defaultdict(int)

In [140]:
d['Ahmed']

0

In [142]:
x = {
    'sdf': [1, 2],
    'hgh': [3, 4],
}

In [144]:
d = defaultdict(list)

In [145]:
d['opa'].append(5)

In [146]:
d

defaultdict(list, {'opa': [5]})

In [155]:
d = {}
d = defaultdict(dict)

In [156]:
d['Ahmed'] = 5

In [157]:
d

defaultdict(list, {'Ahmed': 5})

In [158]:
d['Max']

[]

In [159]:
d = defaultdict(dict)

In [170]:
d = defaultdict(lambda: defaultdict(int))

In [161]:
d['Ahmed']['Ozon'] = 100

In [162]:
d['Ahmed']['Aliexpress']

0

In [164]:
d = {
    'Ahmed': {
        'Ozon': 100,
        'AliExprees': 200,
    },
    'Max': {
        'Ozon': 200,
    }
}