## –ü–æ–≤—Ç–æ—Ä–∏–º –ø—Ä–æ–π–¥–µ–Ω–Ω–æ–µ

- –í Python –≤—Å–µ —è–≤–ª—è–µ—Ç—Å—è –æ–±—ä–µ–∫—Ç–æ–º
- –ø—Ä–æ—Å—Ç–µ–π—à–∏–µ –æ–±—ä–µ–∫—Ç—ã (`int`, `float`, `bool`, `str`)
- –æ–±—ä–µ–∫—Ç—ã –ø–æ—Å–ª–æ–∂–Ω–µ–µ - –∫–æ–ª–ª–µ–∫—Ü–∏–∏ (`list`, `tuple`, `set`, `dict`)
- —Ä–µ—à–∏—Ç—å –∑–∞–¥–∞—á—É - —ç—Ç–æ –∑–Ω–∞—á–∏—Ç –Ω–∞–ø–∏—Å–∞—Ç—å —Å–≤–æ—é —Ñ—É–Ω–∫—Ü–∏—é

In [4]:
55 + 25

80

In [10]:
a = round(number=52.12421, ndigits=2)

a

52.12

In [15]:
s = [1, 2, 100]

s.append(200)

In [16]:
s

[1, 2, 100, 200]

In [31]:
sum(s)

103

In [18]:
s = (1, 2, 100)

s.append(200)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
s = {2, 4, 5, 4}

s

{2, 4, 5}

In [25]:
s1 = {1, 2, 3}
s2 = {2, 5, 4}

s1 & s2

{2}

In [22]:
s1 | s2

{1, 2, 3, 4, 5}

In [23]:
s1 - s2

{1, 3}

In [26]:
d = {1: 'asdasd', 2: 'asdasd', 3: 'asdrweqr'}

In [28]:
d[1]

'asdasd'

In [32]:
def calculate_prod(s):
    prod = 1
    for el in s:
        prod = prod * el  # prod *= el

    return prod

In [37]:
k = [1, 2, 3, 4]

a = calculate_prod(k)

In [39]:
a + 100

124

In [47]:
def calculate_prod(s):
    prod = 1
    for el in s:
        prod = prod * el  # prod *= el

        print(f"—Å–µ–π—á–∞—Å prod —Ä–∞–≤–Ω—è–µ—Ç—Å—è {prod}")
    
    return prod

In [48]:
k = [1, 2, 3, 4]

calculate_prod(k)

—Å–µ–π—á–∞—Å prod —Ä–∞–≤–Ω—è–µ—Ç—Å—è 1
—Å–µ–π—á–∞—Å prod —Ä–∞–≤–Ω—è–µ—Ç—Å—è 2
—Å–µ–π—á–∞—Å prod —Ä–∞–≤–Ω—è–µ—Ç—Å—è 6
—Å–µ–π—á–∞—Å prod —Ä–∞–≤–Ω—è–µ—Ç—Å—è 24

24

In [46]:
a + 100

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [33]:
calculate_prod(s=[1, 2, 3, 4])

24

In [34]:
k = [1, 2, 3, 4]

calculate_prod(s=k)

24

In [35]:
k = [1, 2, 3, 4]

calculate_prod(k)

24

## –†–µ—à–∞–µ–º –∑–∞–¥–∞—á—É ‚Ññ1

–ï—Å—Ç—å —Ä—ã–±–∫–∞ –î–æ—Ä–∏, —É –∫–æ—Ç–æ—Ä–æ–π –µ—Å—Ç—å –∫—É—á–∞ –æ–±—ã—á–Ω—ã—Ö –∫–∞–º–Ω–µ–π –∏ –¥—Ä–∞–≥–æ—Ü–µ–Ω–Ω—ã—Ö –∫–∞–º–Ω–µ–π. –î—Ä–∞–≥–æ—Ü–µ–Ω–Ω—ã–µ –∫–∞–º–Ω–∏ –æ–±–æ–∑–Ω–∞—á–∞—é—Ç—Å—è –∑–∞–≥–ª–∞–≤–Ω—ã–º–∏ –±—É–∫–≤–∞–º–∏, –∞ –æ–±—ã—á–Ω—ã–µ –∫–∞–º–Ω–∏ –æ–±–æ–∑–Ω–∞—á–∞—é—Ç—Å—è –ø—Ä–æ–ø–∏—Å–Ω—ã–º–∏ –±—É–∫–≤–∞–º–∏. –ù—É–∂–Ω–æ –ø–æ–º–æ—á—å –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å–∫–æ–ª—å–∫–æ –∫–∞–∫–∏—Ö –∫–∞–º–Ω–µ–π –µ—Å—Ç—å —É –î–æ—Ä–∏.

In [57]:
def count_stones(s):
    d = {'drag': 0, 'stones': 0}
    for stone in s:
        if stone.isupper():
            d['drag'] += 1
        else:
            d['stones'] += 1

    return d

In [59]:
s = 'AAbcaDEfRSSasfasf'

count_stones(s)

{'drag': 7, 'stones': 10}

In [60]:
s = 'AAbcaasfasf'

count_stones(s)

{'drag': 2, 'stones': 9}

## –†–µ—à–∞–µ–º –∑–∞–¥–∞—á—É ‚Ññ2

–î–∞–Ω–∞ —Å—Ç—Ä–æ–∫–∞ –∏–∑ —Å–∏–º–≤–æ–ª–æ–≤, –Ω—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å–∫–æ–ª—å–∫–æ –∫–∞–∫–æ–≥–æ —Å–∏–º–≤–æ–ª–∞.

In [70]:
def count_symbols(s):
    d = {}
    for symbol in s:
        if symbol not in d: # –µ—Å–ª–∏ —á–µ–≥–æ-—Ç–æ –Ω–µ—Ç –≤ —Å–ª–æ–≤–∞—Ä–µ
            d[symbol] = 1   # —Ç–æ —Å–æ–∑–¥–∞–π —ç—Ç–æ –∏ —á—Ç–æ-—Ç–æ –ø–æ–ª–æ–∂–∏ 
        else:
            d[symbol] += 1  # –∞ –µ—Å–ª–∏ —É–∂–µ –µ—Å—Ç—å –≤ —Å–ª–æ–≤–∞—Ä–µ, —Ç–æ –∏–∑–º–µ–Ω–∏

    return d

In [98]:
s = 'BBBCCDDDFFAAQQW'

dict_for_table = count_symbols(s)

# –ü–µ—Ä–µ—Ö–æ–¥–∏–º –∫ —Ä–∞–±–æ—Ç–µ —Å –¥–∞–Ω–Ω—ã–º–∏

–û—á–µ–Ω—å —á–∞—Å—Ç–æ, –∫–æ–≥–¥–∞ –≤—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ —Å –¥–∞–Ω–Ω—ã–º–∏, –¥–∞–Ω–Ω—ã–µ –ª–µ–∂–∞—Ç –≤ —Å–ø–µ—Ü–∏–∞–ª—å–Ω—ã—Ö —Ç–∞–±–ª–∏—Ü–∞—Ö. –≠—Ç–æ –º–æ–≥—É—Ç –±—ã—Ç—å `.excel` —Ç–∞–±–ª–∏—Ü—ã –ª–∏–±–æ —Ç–∞–±–ª–∏—Ü—ã –≤ —Ñ–æ—Ä–º–∞—Ç–µ `.csv` (comma separated values)

In [1]:
import pandas as pd

In [101]:
dict_for_table

{'B': 3, 'C': 2, 'D': 3, 'F': 2, 'A': 2, 'Q': 2, 'W': 1}

In [102]:
d = {
    'names': ['max', 'ann', 'akmed'],
    'scores': [4, 8, 5]
}

pd.DataFrame(d)

   names  scores
0    max       4
1    ann       8
2  akmed       5

In [75]:
# !pip install pandas

In [2]:
data = pd.read_csv("data/youtube_data_short.csv", sep='\t')

## –ü–ª–∞–Ω

0. –û–±—â–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –Ω–∞–¥ —Ç–∞–±–ª–∏—Ü–µ–π
1. –ö–∞–∫ –¥–æ—Å—Ç–∞–≤–∞—Ç—å —á–∞—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö? (—Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è)
2. –ö–∞–∫ —Å–æ–∑–¥–∞–≤–∞—Ç—å –Ω–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏—Ö?
3. –ö–∞–∫ –Ω–∞ –¥–∞–Ω–Ω—ã—Ö —Å—á–∏—Ç–∞—Ç—å —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏? 
4. –ö–∞–∫ —Å—á–∏—Ç–∞—Ç—å —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –≤–Ω—É—Ç—Ä–∏ –≥—Ä—É–ø–ø?

### 0. –û–±—â–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –Ω–∞–¥ —Ç–∞–±–ª–∏—Ü–µ–π

In [3]:
data.head()

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
0,"""#2–ú–∞—à–∏ ""–°–≤–æ–±–æ–¥–Ω—ã–µ –ª–∏–Ω–∏–∏""",34.0,43.0,1402.0,popsa,2–º–∞—à–∏,214301.0,24.0,0.0,1141
1,"""ALARM"" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í ( SERGEY LAZAREV )",NaN,690.0,10532.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,2221419.0,NaN,NaN,3217
2,"""EARTH SONG"" SERGEY LAZAREV. DEDICATED TO MIC...",26.0,10.0,269.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,40327.0,23.0,0.0,3546
3,"""Earth song"" –ø—Ä–µ–º–∏—è –ú–£–ó-—Ç–í 2010 (LIVE)",12.0,7.0,163.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,11907.0,11.0,0.0,3189
4,"""FAKE"" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í (SERGEY)",46.0,19.0,597.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,91483.0,33.0,1.0,3361

In [4]:
data.tail()

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
19119,‚ô´‚ô™–ú—ã —Ä–∞—Å—Å—Ç–∞–µ–º—Å—è ‚ô´‚ô™ –ë—É—Ç—ã—Ä–∫–∞ new2019,2.0,0.0,11.0,shanson,–±—É—Ç—ã—Ä–∫–∞,1107.0,NaN,NaN,44
19120,‚ù§ 2 –ß–ê–°–ê ‚ù§ –ú–û–¶–ê–†–¢ –î–ª—è –ú–ª–∞–¥–µ–Ω—Ü–µ–≤ - –ö–æ–ª—ã–±–µ–ª—å–Ω–∞—è ...,94.0,431.0,1837.0,classic,classical_channel,391836.0,37.0,1.0,239
19121,„É¢„Çπ„ÇØ„ÉØ„É©„Ç§„Éñ„Ç∑„Éß„Éº ' 17,4872.0,15494.0,30603.0,rap,—ç–ª–¥–∂–µ–π,1187340.0,1788.0,352.0,339
19122,ËàûÊ¢ÖÈ¨º - Êñ∞Âπ¥Â•ΩÂÆùË¥ù / Mumiy Troll - Happy New Year ...,59.0,10.0,260.0,rock,–º—É–º–∏–π_—Ç—Ä–æ–ª–ª—å,10147.0,19.0,0.0,997
19123,üéÑ#–ø—Ä–µ–º—å–µ—Ä–∞ –ø–µ—Å–Ω–∏!!! 2019–≥(–≤—ã –Ω–µ —Å–ø–µ—à–∏—Ç–µ –≥–æ–≤–æ—Ä–∏...,1.0,0.0,22.0,shanson,–±—É—Ç—ã—Ä–∫–∞,1566.0,NaN,NaN,65

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19124 entries, 0 to 19123
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 19124 non-null  object
 1   commentCount          18914 non-null  float64
 2   dislikeCount          18850 non-null  float64
 3   likeCount             18850 non-null  float64
 4   music_style           19124 non-null  object
 5   performer             19124 non-null  object
 6   viewCount             19123 non-null  float64
 7   commentators_uniq     12314 non-null  float64
 8   comments_obscene_cnt  12314 non-null  float64
 9   video_age             19124 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.5+ MB

In [95]:
data.isnull().sum()

title                      0
commentCount             210
dislikeCount             274
likeCount                274
music_style                0
performer                  0
viewCount                  1
commentators_uniq       6810
comments_obscene_cnt    6810
video_age                  0
dtype: int64

In [96]:
data.shape

(19124, 10)

In [97]:
data.columns

Index(['title', 'commentCount', 'dislikeCount', 'likeCount', 'music_style',
       'performer', 'viewCount', 'commentators_uniq', 'comments_obscene_cnt',
       'video_age'],
      dtype='object')

### 1. –ö–∞–∫ –¥–æ—Å—Ç–∞–≤–∞—Ç—å —á–∞—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö? (—Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—è)

In [103]:
data['title']

0                                "#2–ú–∞—à–∏ "–°–≤–æ–±–æ–¥–Ω—ã–µ –ª–∏–Ω–∏–∏"
1                "ALARM" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í ( SERGEY LAZAREV )
2        "EARTH SONG"  SERGEY LAZAREV. DEDICATED TO MIC...
3                   "Earth song" –ø—Ä–µ–º–∏—è –ú–£–ó-—Ç–í 2010 (LIVE)
4                           "FAKE" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í (SERGEY)
                               ...
19119                  ‚ô´‚ô™–ú—ã —Ä–∞—Å—Å—Ç–∞–µ–º—Å—è ‚ô´‚ô™  –ë—É—Ç—ã—Ä–∫–∞ new2019
19120    ‚ù§ 2 –ß–ê–°–ê ‚ù§ –ú–û–¶–ê–†–¢ –î–ª—è –ú–ª–∞–¥–µ–Ω—Ü–µ–≤ - –ö–æ–ª—ã–±–µ–ª—å–Ω–∞—è ...
19121                                      „É¢„Çπ„ÇØ„ÉØ„É©„Ç§„Éñ„Ç∑„Éß„Éº ' 17
19122    ËàûÊ¢ÖÈ¨º   -  Êñ∞Âπ¥Â•ΩÂÆùË¥ù / Mumiy Troll - Happy New Year ...
19123    üéÑ#–ø—Ä–µ–º—å–µ—Ä–∞ –ø–µ—Å–Ω–∏!!! 2019–≥(–≤—ã –Ω–µ —Å–ø–µ—à–∏—Ç–µ –≥–æ–≤–æ—Ä–∏...
Name: title, Length: 19124, dtype: object

In [104]:
type(data['title'])

pandas.core.series.Series

In [105]:
data['title'].values

array(['"#2–ú–∞—à–∏ "–°–≤–æ–±–æ–¥–Ω—ã–µ –ª–∏–Ω–∏–∏"',
       '"ALARM" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í ( SERGEY LAZAREV )',
       '"EARTH SONG"  SERGEY LAZAREV. DEDICATED TO MICHAEL JACKSON ( Cover version)',
       ..., "„É¢„Çπ„ÇØ„ÉØ„É©„Ç§„Éñ„Ç∑„Éß„Éº ' 17",
       "ËàûÊ¢ÖÈ¨º   -  Êñ∞Âπ¥Â•ΩÂÆùË¥ù / Mumiy Troll - Happy New Year Baby (Fan's  Video)",
       'üéÑ#–ø—Ä–µ–º—å–µ—Ä–∞ –ø–µ—Å–Ω–∏!!! 2019–≥(–≤—ã –Ω–µ —Å–ø–µ—à–∏—Ç–µ –≥–æ–≤–æ—Ä–∏—Ç)–≥—Ä—É–ø–ø–∞.–ë—É—Ç—ã—Ä–∫–∞.'],
      dtype=object)

In [106]:
data.title

0                                "#2–ú–∞—à–∏ "–°–≤–æ–±–æ–¥–Ω—ã–µ –ª–∏–Ω–∏–∏"
1                "ALARM" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í ( SERGEY LAZAREV )
2        "EARTH SONG"  SERGEY LAZAREV. DEDICATED TO MIC...
3                   "Earth song" –ø—Ä–µ–º–∏—è –ú–£–ó-—Ç–í 2010 (LIVE)
4                           "FAKE" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í (SERGEY)
                               ...
19119                  ‚ô´‚ô™–ú—ã —Ä–∞—Å—Å—Ç–∞–µ–º—Å—è ‚ô´‚ô™  –ë—É—Ç—ã—Ä–∫–∞ new2019
19120    ‚ù§ 2 –ß–ê–°–ê ‚ù§ –ú–û–¶–ê–†–¢ –î–ª—è –ú–ª–∞–¥–µ–Ω—Ü–µ–≤ - –ö–æ–ª—ã–±–µ–ª—å–Ω–∞—è ...
19121                                      „É¢„Çπ„ÇØ„ÉØ„É©„Ç§„Éñ„Ç∑„Éß„Éº ' 17
19122    ËàûÊ¢ÖÈ¨º   -  Êñ∞Âπ¥Â•ΩÂÆùË¥ù / Mumiy Troll - Happy New Year ...
19123    üéÑ#–ø—Ä–µ–º—å–µ—Ä–∞ –ø–µ—Å–Ω–∏!!! 2019–≥(–≤—ã –Ω–µ —Å–ø–µ—à–∏—Ç–µ –≥–æ–≤–æ—Ä–∏...
Name: title, Length: 19124, dtype: object

In [107]:
data[['likeCount', 'dislikeCount', 'viewCount']]

       likeCount  dislikeCount  viewCount
0         1402.0          43.0   214301.0
1        10532.0         690.0  2221419.0
2          269.0          10.0    40327.0
3          163.0           7.0    11907.0
4          597.0          19.0    91483.0
...          ...           ...        ...
19119       11.0           0.0     1107.0
19120     1837.0         431.0   391836.0
19121    30603.0       15494.0  1187340.0
19122      260.0          10.0    10147.0
19123       22.0           0.0     1566.0

[19124 rows x 3 columns]

In [108]:
useful_cols = ['likeCount', 'dislikeCount', 'viewCount']

data[useful_cols]

       likeCount  dislikeCount  viewCount
0         1402.0          43.0   214301.0
1        10532.0         690.0  2221419.0
2          269.0          10.0    40327.0
3          163.0           7.0    11907.0
4          597.0          19.0    91483.0
...          ...           ...        ...
19119       11.0           0.0     1107.0
19120     1837.0         431.0   391836.0
19121    30603.0       15494.0  1187340.0
19122      260.0          10.0    10147.0
19123       22.0           0.0     1566.0

[19124 rows x 3 columns]

__–í–æ–ø—Ä–æ—Å ‚Ññ1:__ –Ø —Ö–æ—á—É –æ—Ç–æ–±—Ä–∞—Ç—å –∫–ª–∏–ø—ã, —É –∫–æ—Ç–æ—Ä—ã—Ö –ª–∞–π–∫–æ–≤ 0, –∞ –¥–∏–∑–ª–∞–π–∫–æ–≤ –±–æ–ª—å—à–µ 0.

In [8]:
data.performer

0                    2–º–∞—à–∏
1                  –ª–∞–∑–∞—Ä–µ–≤
2                  –ª–∞–∑–∞—Ä–µ–≤
3                  –ª–∞–∑–∞—Ä–µ–≤
4                  –ª–∞–∑–∞—Ä–µ–≤
               ...
19119              –±—É—Ç—ã—Ä–∫–∞
19120    classical_channel
19121               —ç–ª–¥–∂–µ–π
19122         –º—É–º–∏–π_—Ç—Ä–æ–ª–ª—å
19123              –±—É—Ç—ã—Ä–∫–∞
Name: performer, Length: 19124, dtype: object

In [9]:
data.performer == '–ª–∞–∑–∞—Ä–µ–≤'

0        False
1         True
2         True
3         True
4         True
         ...
19119    False
19120    False
19121    False
19122    False
19123    False
Name: performer, Length: 19124, dtype: bool

In [12]:
data_small = data[data.performer == '–ª–∞–∑–∞—Ä–µ–≤']

In [17]:
data_small.reset_index(drop=True)

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
0,"""ALARM"" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í ( SERGEY LAZAREV )",NaN,690.0,10532.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,2221419.0,NaN,NaN,3217
1,"""EARTH SONG"" SERGEY LAZAREV. DEDICATED TO MIC...",26.0,10.0,269.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,40327.0,23.0,0.0,3546
2,"""Earth song"" –ø—Ä–µ–º–∏—è –ú–£–ó-—Ç–í 2010 (LIVE)",12.0,7.0,163.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,11907.0,11.0,0.0,3189
3,"""FAKE"" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í (SERGEY)",46.0,19.0,597.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,91483.0,33.0,1.0,3361
4,"""Feelin High"" –°–µ—Ä–≥–µ–π –õ–∞–∑–∞—Ä–µ–≤ Sergey Lazarev live",7.0,7.0,87.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,9217.0,6.0,0.0,3179
...,...,...,...,...,...,...,...,...,...,...
275,–°–µ—Ä–≥–µ—é –õ–∞–∑–∞—Ä–µ–≤—É - 35!,127.0,20.0,1179.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,20610.0,104.0,0.0,330
276,"–®–û–£ ""–õ–ê–ó–ê–†–ï–í."" (–¢–ò–ó–ï–†) –°–ö ""–û–õ–ò–ú–ü–ò–ô–°–ö–ò–ô"" (–∑–∞–ª –°...",8.0,1.0,151.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,8694.0,8.0,0.0,2008
277,–®–æ—É –í–∞–ª–µ–Ω—Ç–∏–Ω–∞ –Æ–¥–∞—à–∫–∏–Ω–∞ 2018.03.08 –¢–∞–∫ –∫—Ä–∞—Å–∏–≤–æ,151.0,52.0,1701.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,60427.0,115.0,0.0,370
278,–∂–µ—Å—Ç–∫–∞—á –≤ —Ç—É—Ä–µ... –Ω–µ–≥–ª–∞–º—É—Ä–Ω—ã–µ –±—É–¥–Ω–∏...,7.0,4.0,125.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,29330.0,5.0,0.0,4173
279,"–ª–∞–∑–∞—Ä–µ–≤ —Å–µ—Ä–≥–µ–π ""–¶–∏—Ä–∫ —Å–æ –∑–≤–µ–∑–¥–∞–º–∏"" –∫–æ–ª—å—Ü–∞",19.0,1.0,218.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,26164.0,19.0,0.0,3766

In [5]:
data_small = data[
    (data.likeCount == 0) & 
    (data.dislikeCount > 0)
]

In [6]:
data_small

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
866,Alenka,0.0,1.0,0.0,shanson,–≤–æ—Ä–æ–≤–∞–π–∫–∏,282.0,NaN,NaN,1554
870,All is not lost,0.0,1.0,0.0,estrada,–±—É–π–Ω–æ–≤,131.0,NaN,NaN,1555
872,All the Pretty Girls,0.0,1.0,0.0,rock,–∞—Ä–∏—è,304.0,NaN,NaN,141
911,Autostoppers (Ft. Bad Balance),0.0,1.0,0.0,popsa,—ë–ª–∫–∞,87.0,NaN,NaN,1555
1046,Breakthrough,0.0,1.0,0.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,441.0,NaN,NaN,753
...,...,...,...,...,...,...,...,...,...,...
17450,–¢–∏–≥—Ä,0.0,1.0,0.0,estrada,–ø—É–≥–∞—á—ë–≤–∞,94.0,NaN,NaN,1454
17928,–§–µ–Ω–∏–∫—Å,0.0,1.0,0.0,rock,–∫—É–∫—Ä—ã–Ω–∏–∫—Å—ã,660.0,2.0,0.0,378
18287,–•–∏–ø–ø–∞–Ω—ã (–ü–µ—Ä–∏—Ñ–µ—Ä–∏—è),0.0,1.0,0.0,rock,–¥–¥—Ç,163.0,NaN,NaN,917
18300,–•–æ—Ä–æ—à–µ–µ –ù–∞—Å—Ç—Ä–æ–µ–Ω–∏–µ (Dubinin`s Twilight Mix),0.0,2.0,0.0,popsa,—ë–ª–∫–∞,62.0,NaN,NaN,601
18753,–≠—Ç–æ—Ç –í–µ–ª–∏–∫–æ–ª–µ–ø–Ω—ã–π –ú–∏—Ä,0.0,2.0,0.0,popsa,—ë–ª–∫–∞,215.0,NaN,NaN,728

In [121]:
data_small_small = data_small[data_small.music_style == 'popsa']

data_small_small.reset_index(drop=True, inplace=True)

__–í–æ–ø—Ä–æ—Å ‚Ññ2:__ –Ø —Ö–æ—á—É –ø–æ –≤—Å–µ–º –∫–ª–∏–ø–∞–º –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å, —Å–∫–æ–ª—å–∫–æ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ –ª–∞–π–∫–æ–≤ –∫–ª–∏–ø –Ω–∞–±–∏—Ä–∞–ª.

In [125]:
max(data.likeCount)

1686810.0

In [126]:
data.likeCount.max()

1686810.0

__–í–æ–ø—Ä–æ—Å ‚Ññ3:__ –•–æ—á—É –≤—ã–≤–µ—Å—Ç–∏ –∫–ª–∏–ø, –∫–æ—Ç–æ—Ä—ã–π –Ω–∞–±—Ä–∞–ª –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ —á–∏—Å–ª–æ –ª–∞–π–∫–æ–≤.

In [128]:
data[data.likeCount == data.likeCount.max()]

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
18649,–≠–ª–¥–∂–µ–π & Feduk - –†–æ–∑–æ–≤–æ–µ –≤–∏–Ω–æ,191702.0,151772.0,1686810.0,rap,feduk,208753182.0,3702.0,183.0,485

In [134]:
mx = data.likeCount.max()
data[data.likeCount == mx]

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
18649,–≠–ª–¥–∂–µ–π & Feduk - –†–æ–∑–æ–≤–æ–µ –≤–∏–Ω–æ,191702.0,151772.0,1686810.0,rap,feduk,208753182.0,3702.0,183.0,485

__–í–æ–ø—Ä–æ—Å ‚Ññ4:__ –•–æ—á—É –≤—ã–≤–µ—Å—Ç–∏ –∫–ª–∏–ø, –∫–æ—Ç–æ—Ä—ã–π –Ω–∞–±—Ä–∞–ª –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ —á–∏—Å–ª–æ –¥–∏–∑–ª–∞–π–∫–æ–≤.

In [139]:
data[data.dislikeCount == data.dislikeCount.max()]

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
1299,FACE - –Ø –†–û–ù–Ø–Æ –ó–ê–ü–ê–î (prod. by JuloOntheTrack),303077.0,640698.0,270794.0,rap,face,14799217.0,1541.0,587.0,382

In [147]:
640698.0 / 14799217.0

0.04329269582302902

__–í–æ–ø—Ä–æ—Å ‚Ññ5:__ –ü–æ—Å—á–∏—Ç–∞—Ç—å –∑–∞–¥–∏–∑–ª–∞–π–∫–∞–Ω–Ω—ã–π –∫–ª–∏–ø –±–æ–ª–µ–µ –ø–æ-—É–º–Ω–æ–º—É.

### 2. –ö–∞–∫ —Å–æ–∑–¥–∞–≤–∞—Ç—å –Ω–æ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏—Ö?

In [142]:
data['dislike_ratio'] = data['dislikeCount'] / data['viewCount']

In [145]:
data = data[data.viewCount != 0].reset_index(drop=True)

mx = data.dislike_ratio.max()
data[data.dislike_ratio == mx]

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
17805,–£–ª—å—è–Ω–∞ –¢—É—á–∫–æ–≤–∞,NaN,48.0,10.0,popsa,–º–∞–∫s–∏–º,719.0,NaN,NaN,1348,0.066759

In [155]:
def max_from_col(data, col):
    mx = data[col].max()
    return data[data[col] == mx]

In [150]:
max_from_col(data, col='likeCount')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
18645,–≠–ª–¥–∂–µ–π & Feduk - –†–æ–∑–æ–≤–æ–µ –≤–∏–Ω–æ,191702.0,151772.0,1686810.0,rap,feduk,208753182.0,3702.0,183.0,485,0.000727

In [151]:
max_from_col(data, col='dislikeCount')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
1296,FACE - –Ø –†–û–ù–Ø–Æ –ó–ê–ü–ê–î (prod. by JuloOntheTrack),303077.0,640698.0,270794.0,rap,face,14799217.0,1541.0,587.0,382,0.043293

In [152]:
max_from_col(data, col='viewCount')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
2632,Miyagi & –≠–Ω–¥—à–ø–∏–ª—å feat. –†–µ–º –î–∏–≥–≥–∞ - I Got Love...,73038.0,71155.0,1297718.0,rap,miyagi&—ç–Ω–¥—à–ø–∏–ª—å,272047706.0,NaN,NaN,650,0.000262

In [153]:
max_from_col(data, col='dislike_ratio')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
17805,–£–ª—å—è–Ω–∞ –¢—É—á–∫–æ–≤–∞,NaN,48.0,10.0,popsa,–º–∞–∫s–∏–º,719.0,NaN,NaN,1348,0.066759

In [154]:
max_from_col(data, col='video_age')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
17248,–¢–∞—Ä–∞–∫–∞–Ω—ã! - –ö—Ç–æ —Ç–æ –∏–∑ –Ω–∞—Å –¥–≤–æ–∏—Ö,81.0,64.0,1904.0,rock,—Ç–∞—Ä–∞–∫–∞–Ω—ã,624168.0,58.0,2.0,4574,0.000103

### 3. –ö–∞–∫ –Ω–∞ –¥–∞–Ω–Ω—ã—Ö —Å—á–∏—Ç–∞—Ç—å —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏?

In [157]:
data['likeCount'].max()

1686810.0

In [158]:
data['likeCount'].sum()

108102685.0

In [159]:
data['likeCount'].mean()

5736.107662103364

In [160]:
data['likeCount'].median()

100.0

In [161]:
salaries = [40000, 30000, 40000, 300000]

sum(salaries) / len(salaries)

102500.0

In [162]:
import numpy as np

In [163]:
np.median(salaries)

40000.0

In [164]:
data['likeCount'].quantile(0.99)

128199.24999999904

### 4. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –Ω–∞–¥ –¥–∞–Ω–Ω—ã–º–∏ –∏ –ø–æ–¥—Å—á–µ—Ç —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫

–•–æ—á—É –≤—ã–≤–µ—Å—Ç–∏ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –ª–∞–π–∫–æ–≤, –∫–æ—Ç–æ—Ä–æ–µ –ø–æ–ª—É—á–∞–µ—Ç –∫–ª–∏–ø –∂–∞–Ω—Ä–∞ popsa?

In [27]:
data[data.music_style == 'popsa'].likeCount.mean()

7492.273791654158

–•–æ—á—É –≤—ã–≤–µ—Å—Ç–∏ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –ª–∞–π–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∂–∞–Ω—Ä–µ, —á—Ç–æ–±—ã –∏—Ö —Å—Ä–∞–≤–Ω–∏—Ç—å?

In [ ]:
data[data.music_style == 'popsa'].likeCount.mean()
data[data.music_style == 'rap'].likeCount.mean()
data[data.music_style == 'rock'].likeCount.mean()
data[data.music_style == 'classic'].likeCount.mean()
data[data.music_style == 'indi'].likeCount.mean()
data[data.music_style == 'estrada'].likeCount.mean()

In [34]:
# GROUP BY
genres = data.music_style.unique()

for genre in genres:
    mean_likes = data[data.music_style == genre].likeCount.mean()
    print(f'{genre} - {round(mean_likes, 2)}')

popsa - 7492.27
rock - 2132.89
classic - 28663.33
indi - 2471.84
estrada - 938.69
shanson - 440.39
rap - 26802.46

In [43]:
data.groupby('music_style').likeCount.mean().sort_values(ascending=False)

music_style
classic    28663.333333
rap        26802.456253
popsa       7492.273792
indi        2471.842299
rock        2132.887061
estrada      938.686662
shanson      440.390564
Name: likeCount, dtype: float64

In [44]:
data.groupby('music_style').viewCount.mean().sort_values(ascending=False)

music_style
classic    4.999888e+06
rap        3.168589e+06
popsa      1.365989e+06
rock       3.603179e+05
estrada    2.398359e+05
shanson    1.588553e+05
indi       1.567647e+05
Name: viewCount, dtype: float64

In [49]:
data

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
0,"""#2–ú–∞—à–∏ ""–°–≤–æ–±–æ–¥–Ω—ã–µ –ª–∏–Ω–∏–∏""",34.0,43.0,1402.0,popsa,2–º–∞—à–∏,214301.0,24.0,0.0,1141
1,"""ALARM"" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í ( SERGEY LAZAREV )",NaN,690.0,10532.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,2221419.0,NaN,NaN,3217
2,"""EARTH SONG"" SERGEY LAZAREV. DEDICATED TO MIC...",26.0,10.0,269.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,40327.0,23.0,0.0,3546
3,"""Earth song"" –ø—Ä–µ–º–∏—è –ú–£–ó-—Ç–í 2010 (LIVE)",12.0,7.0,163.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,11907.0,11.0,0.0,3189
4,"""FAKE"" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í (SERGEY)",46.0,19.0,597.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,91483.0,33.0,1.0,3361
...,...,...,...,...,...,...,...,...,...,...
19119,‚ô´‚ô™–ú—ã —Ä–∞—Å—Å—Ç–∞–µ–º—Å—è ‚ô´‚ô™ –ë—É—Ç—ã—Ä–∫–∞ new2019,2.0,0.0,11.0,shanson,–±—É—Ç—ã—Ä–∫–∞,1107.0,NaN,NaN,44
19120,‚ù§ 2 –ß–ê–°–ê ‚ù§ –ú–û–¶–ê–†–¢ –î–ª—è –ú–ª–∞–¥–µ–Ω—Ü–µ–≤ - –ö–æ–ª—ã–±–µ–ª—å–Ω–∞—è ...,94.0,431.0,1837.0,classic,classical_channel,391836.0,37.0,1.0,239
19121,„É¢„Çπ„ÇØ„ÉØ„É©„Ç§„Éñ„Ç∑„Éß„Éº ' 17,4872.0,15494.0,30603.0,rap,—ç–ª–¥–∂–µ–π,1187340.0,1788.0,352.0,339
19122,ËàûÊ¢ÖÈ¨º - Êñ∞Âπ¥Â•ΩÂÆùË¥ù / Mumiy Troll - Happy New Year ...,59.0,10.0,260.0,rock,–º—É–º–∏–π_—Ç—Ä–æ–ª–ª—å,10147.0,19.0,0.0,997
19123,üéÑ#–ø—Ä–µ–º—å–µ—Ä–∞ –ø–µ—Å–Ω–∏!!! 2019–≥(–≤—ã –Ω–µ —Å–ø–µ—à–∏—Ç–µ –≥–æ–≤–æ—Ä–∏...,1.0,0.0,22.0,shanson,–±—É—Ç—ã—Ä–∫–∞,1566.0,NaN,NaN,65

In [50]:
data.groupby(['music_style', 'performer']).likeCount.mean().reset_index()

    music_style          performer     likeCount
0       classic  classical_channel  28663.333333
1       estrada             –∞–≥—É—Ç–∏–Ω     39.333333
2       estrada             –±–∞—Å–∫–æ–≤   1582.721311
3       estrada             –±—É–π–Ω–æ–≤      2.795455
4       estrada             –≤–∞–µ–Ω–≥–∞    133.773360
..          ...                ...           ...
106     shanson               –∂–µ–∫–∞    505.681159
107     shanson         –∏—Ä–∏–Ω–∞_–∫—Ä—É–≥   1520.352381
108     shanson        –º–∏—Ö–∞–∏–ª_–∫—Ä—É–≥    418.111340
109     shanson           —Ç—Ä–æ—Ñ–∏–º–æ–≤    252.857759
110     shanson        —à—É—Ñ—É—Ç–∏–Ω—Å–∫–∏–π    357.132565

[111 rows x 3 columns]

In [48]:
# GROUP BY
genres = data.music_style.unique()

for genre in genres:
    performers = data[data.music_style == genre].performer.unique()
    for performer in performers:
        mean_likes = data[(data.music_style == genre) & (data.performer == performer)].likeCount.mean()
        print(f'{genre}, {performer} - {round(mean_likes, 2)}')

popsa, 2–º–∞—à–∏ - 5997.92
popsa, –ª–∞–∑–∞—Ä–µ–≤ - 6354.79
popsa, –Ω—é—à–∞ - 3029.28
popsa, –≤–∏–∞_–≥—Ä–∞ - 6886.62
popsa, –±–∞—Ä—Å–∫–∏—Ö - 11746.31
popsa, —Ç–µ–º–Ω–∏–∫–æ–≤–∞ - 3070.46
popsa, –∫–∞—Ä–∞—É–ª–æ–≤–∞ - 4362.38
popsa, –∫–æ–∫–∞ - 33208.36
popsa, —Ä—É–∫–∏_–≤–≤–µ—Ä—Ö - 8617.29
popsa, astudio - 1385.95
popsa, serebro - 18389.38
popsa, loboda - 6002.9
popsa, –±—É–∑–æ–≤–∞ - 18490.18
popsa, –º–∞–∫s–∏–º - 5990.16
popsa, –±–∏–ª–∞–Ω - 8394.94
popsa, —ë–ª–∫–∞ - 37.1
popsa, –≥—Ä–∞–¥—É—Å—ã - 3119.29
popsa, –≥–∞–≥–∞—Ä–∏–Ω–∞ - 7642.17
popsa, iowa - 15051.12
rock, –º—É–º–∏–π_—Ç—Ä–æ–ª–ª—å - 819.63
rock, –∫–æ—Ä–æ–ª—å_–∏_—à—É—Ç - 820.6
rock, –∫—É–∫—Ä—ã–Ω–∏–∫—Å—ã - 252.77
rock, –∞—Ä–∏—è - 508.06
rock, –∞—Ä–±–µ–Ω–∏–Ω–∞ - 490.67
rock, —á–∏—á–µ—Ä–∏–Ω–∞ - 632.62
rock, –±–∏_2 - 3434.87
rock, –∑–≤–µ—Ä–∏ - 4052.52
rock, –Ω–æ–≥—É_—Å–≤–µ–ª–æ - 660.59
rock, louna - 1350.34
rock, –Ω–µ—Å—á–∞—Å—Ç–Ω—ã–π_—Å–ª—É—á–∞–π - 265.44
rock, —Ç–∞—Ä–∞–∫–∞–Ω—ã - 491.51
rock, –∑–µ–º—Ñ–∏—Ä–∞ - 1019.1
rock, –ø–ª–∞–Ω –ª–æ–º–æ–Ω–æ—Å–æ–≤–∞ - 262.29
rock, –ª–µ–Ω–∏–Ω–≥—Ä–∞–¥ - 16778.07
rock, –Ω–∞–∏–≤ - 417.55
rock, —Å–º—ã—Å–ª–æ–≤—ã–µ_–≥–∞–ª–ª—é—Ü–∏–Ω–∞—Ü–∏–∏ - 445.09
rock, –¥–¥—Ç - 151.99
rock, –≥—Ä–µ–±–µ–Ω—â–∏–∫–æ–≤ - 808.04
rock, —Å–µ–∫—Ç–æ—Ä_–≥–∞–∑–∞ - 202.14
rock, –ª–µ—Ç–æ–≤ - 31.94
rock, –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∞—è_–æ–±–æ—Ä–æ–Ω–∞ - 24.58
rock, –∞–≥–∞—Ç–∞_–∫—Ä–∏—Å—Ç–∏ - 137.59
rock, –∫–∏–ø–µ–ª–æ–≤ - 2931.17
rock, —Å–ø–ª–∏–Ω - 3589.09
rock, –∫–∏–Ω–æ - 1995.51
rock, –ø–æ—Ä–Ω–æ—Ñ–∏–ª—å–º—ã - 2367.2
classic, classical_channel - 28663.33
indi, –∞–Ω—Ç–æ—Ö–∞_–º—Å - 2214.16
indi, –∫—Ä–∞—Å–Ω–æ–∑–Ω–∞–º–µ–Ω–Ω–∞—è_–¥–∏–≤–∏–∑–∏—è_–∏–º–µ–Ω–∏_–º–æ–µ–π_–±–∞–±—É—à–∫–∏ - 158.09
indi, rsac - 63.89
indi, c–±–ø—á - 26.74
indi, —ç–ª–µ–∫—Ç—Ä–æ—Ñ–æ—Ä–µ–∑ - 35.0
indi, –∂–µ–Ω—è_–ª—é–±–∏—á - 706.65
indi, –ø–∞—Å–æ—à - 93.5
indi, –∫–∞–∑—É—Å–∫–æ–º–∞ - 10.84
indi, –º–∞–ª—å–±—ç–∫ - 24260.13
indi, –±—É–µ—Ä–∞–∫ - 77.11
indi, pompeya - 696.05
indi, retuses - 16.2
indi, sonic_death - 12.67
indi, ic3peak - 1252.92
indi, motorama - 3097.2
indi, –≥—à - 142.87
indi, –∏–Ω—Ç—É—Ä–∏—Å—Ç - 71.71
indi, –∞–ª–æ—ç_–≤–µ—Ä–∞ - 87.78
indi, —Ö–∞–¥–Ω_–¥–∞–¥–Ω - 31.55
indi, –Ω–∞–∞–¥—è - 16.97
indi, —Ä—ã—Ü–∞—Ä–Ω—ã–µ_—Ä—ã—Ü–∞—Ä–∏ - 0.33
indi, –º–æ–Ω–µ—Ç–æ—á–∫–∞ - 17802.69
indi, –≥—Ä–µ—á–∫–∞ - 4274.42
indi, –¥–µ—Ä–µ–≤—è–Ω–Ω—ã–µ –∫–∏—Ç—ã - 18.67
indi, –ø–æ—à–ª–∞—è_–º–æ–ª–ª–∏ - 64800.57
estrada, –Ω–∏–∫–æ–ª–∞–µ–≤ - 413.01
estrada, –≤–∞–ª–µ—Ä–∏—è - 2033.33
estrada, –≥–∞–∑–º–∞–Ω–æ–≤ - 1384.93
estrada, –≤–∞–µ–Ω–≥–∞ - 133.77
estrada, –∫–∏—Ä–∫–æ—Ä–æ–≤ - 1540.11
estrada, –º–∏—Ö–∞–π–ª–æ–≤ - 1680.09
estrada, –ø—É–≥–∞—á—ë–≤–∞ - 33.2
estrada, –±–∞—Å–∫–æ–≤ - 1582.72
estrada, –ª–µ–æ–Ω—Ç—å–µ–≤ - 5.15
estrada, –±—É–π–Ω–æ–≤ - 2.8
estrada, –ª–æ–ª–∏—Ç–∞ - 2707.51
estrada, –ª–µ–ø—Å - 847.16
estrada, –∞–≥—É—Ç–∏–Ω - 39.33
estrada, —Ä–æ—Ç–∞—Ä—É - 31.32
estrada, –º–µ–ª–∞–¥–∑–µ - 614.88
shanson, –º–∏—Ö–∞–∏–ª_–∫—Ä—É–≥ - 418.11
shanson, –∏—Ä–∏–Ω–∞_–∫—Ä—É–≥ - 1520.35
shanson, –≤–æ—Ä–æ–≤–∞–π–∫–∏ - 387.3
shanson, —à—É—Ñ—É—Ç–∏–Ω—Å–∫–∏–π - 357.13
shanson, –±—É—Ç—ã—Ä–∫–∞ - 390.31
shanson, —Ç—Ä–æ—Ñ–∏–º–æ–≤ - 252.86
shanson, –∂–µ–∫–∞ - 505.68
shanson, –¥—é–º–∏–Ω - 370.76
rap, —Ç–∏–º–∞—Ç–∏ - 20582.88
rap, gazgolder - 17806.19
rap, noizemc - 11538.94
rap, –∫—Ä–∏–¥ - 54380.74
rap, miyagi&—ç–Ω–¥—à–ø–∏–ª—å - 18377.09
rap, pharaon - 12704.69
rap, —ç–ª–¥–∂–µ–π - 55896.73
rap, feduk - 38521.62
rap, lone - 19725.85
rap, oxxxymiron - 59106.51
rap, face - 93202.92
rap, –≥—Ä–∏–±—ã - 4080.71
rap, johnyboy - 15676.7
rap, –ª—Å–ø - 56649.15
rap, –º–æ—Ç - 56415.58
rap, —Ö–∞—Å–∫–∏ - 65718.64

In [52]:
data.groupby('music_style')[['likeCount', 'viewCount', 'commentCount', 'dislikeCount']].mean()

                likeCount     viewCount  commentCount  dislikeCount
music_style
classic      28663.333333  4.999888e+06   1421.469595   1236.228956
estrada        938.686662  2.398359e+05     57.664656    173.565933
indi          2471.842299  1.567647e+05    104.050074    220.419307
popsa         7492.273792  1.365989e+06    471.541934    790.161513
rap          26802.456253  3.168589e+06   2163.059850   4099.575383
rock          2132.887061  3.603179e+05    126.032532    287.698201
shanson        440.390564  1.588553e+05     19.527778     45.488327

In [54]:
data.groupby('music_style').agg(
    {'likeCount': ['mean', 'sum'], 
     'dislikeCount': 'sum', 
     'viewCount': 'var'
    }
)

                likeCount             dislikeCount     viewCount
                     mean         sum          sum           var
music_style
classic      28663.333333   8513010.0     367160.0  3.746058e+14
estrada        938.686662   3708751.0     685759.0  2.043893e+12
indi          2471.842299   3354290.0     299109.0  2.668059e+12
popsa         7492.273792  24956764.0    2632028.0  5.426235e+13
rap          26802.456253  54221369.0    8293441.0  1.879743e+14
rock          2132.887061  12445396.0    1678719.0  1.145942e+13
shanson        440.390564    905443.0      93524.0  2.176253e+12

In [55]:
data

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
0,"""#2–ú–∞—à–∏ ""–°–≤–æ–±–æ–¥–Ω—ã–µ –ª–∏–Ω–∏–∏""",34.0,43.0,1402.0,popsa,2–º–∞—à–∏,214301.0,24.0,0.0,1141
1,"""ALARM"" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í ( SERGEY LAZAREV )",NaN,690.0,10532.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,2221419.0,NaN,NaN,3217
2,"""EARTH SONG"" SERGEY LAZAREV. DEDICATED TO MIC...",26.0,10.0,269.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,40327.0,23.0,0.0,3546
3,"""Earth song"" –ø—Ä–µ–º–∏—è –ú–£–ó-—Ç–í 2010 (LIVE)",12.0,7.0,163.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,11907.0,11.0,0.0,3189
4,"""FAKE"" –°–ï–†–ì–ï–ô –õ–ê–ó–ê–†–ï–í (SERGEY)",46.0,19.0,597.0,popsa,–ª–∞–∑–∞—Ä–µ–≤,91483.0,33.0,1.0,3361
...,...,...,...,...,...,...,...,...,...,...
19119,‚ô´‚ô™–ú—ã —Ä–∞—Å—Å—Ç–∞–µ–º—Å—è ‚ô´‚ô™ –ë—É—Ç—ã—Ä–∫–∞ new2019,2.0,0.0,11.0,shanson,–±—É—Ç—ã—Ä–∫–∞,1107.0,NaN,NaN,44
19120,‚ù§ 2 –ß–ê–°–ê ‚ù§ –ú–û–¶–ê–†–¢ –î–ª—è –ú–ª–∞–¥–µ–Ω—Ü–µ–≤ - –ö–æ–ª—ã–±–µ–ª—å–Ω–∞—è ...,94.0,431.0,1837.0,classic,classical_channel,391836.0,37.0,1.0,239
19121,„É¢„Çπ„ÇØ„ÉØ„É©„Ç§„Éñ„Ç∑„Éß„Éº ' 17,4872.0,15494.0,30603.0,rap,—ç–ª–¥–∂–µ–π,1187340.0,1788.0,352.0,339
19122,ËàûÊ¢ÖÈ¨º - Êñ∞Âπ¥Â•ΩÂÆùË¥ù / Mumiy Troll - Happy New Year ...,59.0,10.0,260.0,rock,–º—É–º–∏–π_—Ç—Ä–æ–ª–ª—å,10147.0,19.0,0.0,997
19123,üéÑ#–ø—Ä–µ–º—å–µ—Ä–∞ –ø–µ—Å–Ω–∏!!! 2019–≥(–≤—ã –Ω–µ —Å–ø–µ—à–∏—Ç–µ –≥–æ–≤–æ—Ä–∏...,1.0,0.0,22.0,shanson,–±—É—Ç—ã—Ä–∫–∞,1566.0,NaN,NaN,65