## Повторим пройденное

- В Python все является объектом
- простейшие объекты (`int`, `float`, `bool`, `str`)
- объекты посложнее - коллекции (`list`, `tuple`, `set`, `dict`)
- решить задачу - это значит написать свою функцию

In [4]:
55 + 25

80

In [10]:
a = round(number=52.12421, ndigits=2)

a

52.12

In [15]:
s = [1, 2, 100]

s.append(200)

In [16]:
s

[1, 2, 100, 200]

In [31]:
sum(s)

103

In [18]:
s = (1, 2, 100)

s.append(200)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
s = {2, 4, 5, 4}

s

{2, 4, 5}

In [25]:
s1 = {1, 2, 3}
s2 = {2, 5, 4}

s1 & s2

{2}

In [22]:
s1 | s2

{1, 2, 3, 4, 5}

In [23]:
s1 - s2

{1, 3}

In [26]:
d = {1: 'asdasd', 2: 'asdasd', 3: 'asdrweqr'}

In [28]:
d[1]

'asdasd'

In [32]:
def calculate_prod(s):
    prod = 1
    for el in s:
        prod = prod * el  # prod *= el

    return prod

In [37]:
k = [1, 2, 3, 4]

a = calculate_prod(k)

In [39]:
a + 100

124

In [47]:
def calculate_prod(s):
    prod = 1
    for el in s:
        prod = prod * el  # prod *= el

        print(f"сейчас prod равняется {prod}")
    
    return prod

In [48]:
k = [1, 2, 3, 4]

calculate_prod(k)

сейчас prod равняется 1
сейчас prod равняется 2
сейчас prod равняется 6
сейчас prod равняется 24

24

In [46]:
a + 100

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [33]:
calculate_prod(s=[1, 2, 3, 4])

24

In [34]:
k = [1, 2, 3, 4]

calculate_prod(s=k)

24

In [35]:
k = [1, 2, 3, 4]

calculate_prod(k)

24

## Решаем задачу №1

Есть рыбка Дори, у которой есть куча обычных камней и драгоценных камней. Драгоценные камни обозначаются заглавными буквами, а обычные камни обозначаются прописными буквами. Нужно помочь посчитать сколько каких камней есть у Дори.

In [57]:
def count_stones(s):
    d = {'drag': 0, 'stones': 0}
    for stone in s:
        if stone.isupper():
            d['drag'] += 1
        else:
            d['stones'] += 1

    return d

In [59]:
s = 'AAbcaDEfRSSasfasf'

count_stones(s)

{'drag': 7, 'stones': 10}

In [60]:
s = 'AAbcaasfasf'

count_stones(s)

{'drag': 2, 'stones': 9}

## Решаем задачу №2

Дана строка из символов, нужно посчитать сколько какого символа.

In [70]:
def count_symbols(s):
    d = {}
    for symbol in s:
        if symbol not in d: # если чего-то нет в словаре
            d[symbol] = 1   # то создай это и что-то положи 
        else:
            d[symbol] += 1  # а если уже есть в словаре, то измени

    return d

In [98]:
s = 'BBBCCDDDFFAAQQW'

dict_for_table = count_symbols(s)

# Переходим к работе с данными

Очень часто, когда вы работаете с данными, данные лежат в специальных таблицах. Это могут быть `.excel` таблицы либо таблицы в формате `.csv` (comma separated values)

In [74]:
import pandas as pd

In [101]:
dict_for_table

{'B': 3, 'C': 2, 'D': 3, 'F': 2, 'A': 2, 'Q': 2, 'W': 1}

In [102]:
d = {
    'names': ['max', 'ann', 'akmed'],
    'scores': [4, 8, 5]
}

pd.DataFrame(d)

   names  scores
0    max       4
1    ann       8
2  akmed       5

In [75]:
# !pip install pandas

In [90]:
data = pd.read_csv("data/youtube_data_short.csv", sep='\t')

## План

0. Общие функции над таблицей
1. Как доставать часть данных? (фильтрация)
2. Как создавать новые данные из существующих?
3. Как на данных считать статистики? 
4. Как считать статистики внутри групп?

### 0. Общие функции над таблицей

In [92]:
data.head()

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
0,"""#2Маши ""Свободные линии""",34.0,43.0,1402.0,popsa,2маши,214301.0,24.0,0.0,1141
1,"""ALARM"" СЕРГЕЙ ЛАЗАРЕВ ( SERGEY LAZAREV )",NaN,690.0,10532.0,popsa,лазарев,2221419.0,NaN,NaN,3217
2,"""EARTH SONG"" SERGEY LAZAREV. DEDICATED TO MIC...",26.0,10.0,269.0,popsa,лазарев,40327.0,23.0,0.0,3546
3,"""Earth song"" премия МУЗ-тВ 2010 (LIVE)",12.0,7.0,163.0,popsa,лазарев,11907.0,11.0,0.0,3189
4,"""FAKE"" СЕРГЕЙ ЛАЗАРЕВ (SERGEY)",46.0,19.0,597.0,popsa,лазарев,91483.0,33.0,1.0,3361

In [93]:
data.tail()

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
19119,♫♪Мы расстаемся ♫♪ Бутырка new2019,2.0,0.0,11.0,shanson,бутырка,1107.0,NaN,NaN,44
19120,❤ 2 ЧАСА ❤ МОЦАРТ Для Младенцев - Колыбельная ...,94.0,431.0,1837.0,classic,classical_channel,391836.0,37.0,1.0,239
19121,モスクワライブショー ' 17,4872.0,15494.0,30603.0,rap,элджей,1187340.0,1788.0,352.0,339
19122,舞梅鬼 - 新年好宝贝 / Mumiy Troll - Happy New Year ...,59.0,10.0,260.0,rock,мумий_тролль,10147.0,19.0,0.0,997
19123,🎄#премьера песни!!! 2019г(вы не спешите говори...,1.0,0.0,22.0,shanson,бутырка,1566.0,NaN,NaN,65

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19124 entries, 0 to 19123
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 19124 non-null  object
 1   commentCount          18914 non-null  float64
 2   dislikeCount          18850 non-null  float64
 3   likeCount             18850 non-null  float64
 4   music_style           19124 non-null  object
 5   performer             19124 non-null  object
 6   viewCount             19123 non-null  float64
 7   commentators_uniq     12314 non-null  float64
 8   comments_obscene_cnt  12314 non-null  float64
 9   video_age             19124 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.5+ MB

In [95]:
data.isnull().sum()

title                      0
commentCount             210
dislikeCount             274
likeCount                274
music_style                0
performer                  0
viewCount                  1
commentators_uniq       6810
comments_obscene_cnt    6810
video_age                  0
dtype: int64

In [96]:
data.shape

(19124, 10)

In [97]:
data.columns

Index(['title', 'commentCount', 'dislikeCount', 'likeCount', 'music_style',
       'performer', 'viewCount', 'commentators_uniq', 'comments_obscene_cnt',
       'video_age'],
      dtype='object')

### 1. Как доставать часть данных? (фильтрация)

In [103]:
data['title']

0                                "#2Маши "Свободные линии"
1                "ALARM" СЕРГЕЙ ЛАЗАРЕВ ( SERGEY LAZAREV )
2        "EARTH SONG"  SERGEY LAZAREV. DEDICATED TO MIC...
3                   "Earth song" премия МУЗ-тВ 2010 (LIVE)
4                           "FAKE" СЕРГЕЙ ЛАЗАРЕВ (SERGEY)
                               ...
19119                  ♫♪Мы расстаемся ♫♪  Бутырка new2019
19120    ❤ 2 ЧАСА ❤ МОЦАРТ Для Младенцев - Колыбельная ...
19121                                      モスクワライブショー ' 17
19122    舞梅鬼   -  新年好宝贝 / Mumiy Troll - Happy New Year ...
19123    🎄#премьера песни!!! 2019г(вы не спешите говори...
Name: title, Length: 19124, dtype: object

In [104]:
type(data['title'])

pandas.core.series.Series

In [105]:
data['title'].values

array(['"#2Маши "Свободные линии"',
       '"ALARM" СЕРГЕЙ ЛАЗАРЕВ ( SERGEY LAZAREV )',
       '"EARTH SONG"  SERGEY LAZAREV. DEDICATED TO MICHAEL JACKSON ( Cover version)',
       ..., "モスクワライブショー ' 17",
       "舞梅鬼   -  新年好宝贝 / Mumiy Troll - Happy New Year Baby (Fan's  Video)",
       '🎄#премьера песни!!! 2019г(вы не спешите говорит)группа.Бутырка.'],
      dtype=object)

In [106]:
data.title

0                                "#2Маши "Свободные линии"
1                "ALARM" СЕРГЕЙ ЛАЗАРЕВ ( SERGEY LAZAREV )
2        "EARTH SONG"  SERGEY LAZAREV. DEDICATED TO MIC...
3                   "Earth song" премия МУЗ-тВ 2010 (LIVE)
4                           "FAKE" СЕРГЕЙ ЛАЗАРЕВ (SERGEY)
                               ...
19119                  ♫♪Мы расстаемся ♫♪  Бутырка new2019
19120    ❤ 2 ЧАСА ❤ МОЦАРТ Для Младенцев - Колыбельная ...
19121                                      モスクワライブショー ' 17
19122    舞梅鬼   -  新年好宝贝 / Mumiy Troll - Happy New Year ...
19123    🎄#премьера песни!!! 2019г(вы не спешите говори...
Name: title, Length: 19124, dtype: object

In [107]:
data[['likeCount', 'dislikeCount', 'viewCount']]

       likeCount  dislikeCount  viewCount
0         1402.0          43.0   214301.0
1        10532.0         690.0  2221419.0
2          269.0          10.0    40327.0
3          163.0           7.0    11907.0
4          597.0          19.0    91483.0
...          ...           ...        ...
19119       11.0           0.0     1107.0
19120     1837.0         431.0   391836.0
19121    30603.0       15494.0  1187340.0
19122      260.0          10.0    10147.0
19123       22.0           0.0     1566.0

[19124 rows x 3 columns]

In [108]:
useful_cols = ['likeCount', 'dislikeCount', 'viewCount']

data[useful_cols]

       likeCount  dislikeCount  viewCount
0         1402.0          43.0   214301.0
1        10532.0         690.0  2221419.0
2          269.0          10.0    40327.0
3          163.0           7.0    11907.0
4          597.0          19.0    91483.0
...          ...           ...        ...
19119       11.0           0.0     1107.0
19120     1837.0         431.0   391836.0
19121    30603.0       15494.0  1187340.0
19122      260.0          10.0    10147.0
19123       22.0           0.0     1566.0

[19124 rows x 3 columns]

__Вопрос №1:__ Я хочу отобрать клипы, у которых лайков 0, а дизлайков больше 0.

In [114]:
data_small = data[
    (data.likeCount == 0) & 
    (data.dislikeCount > 0)
]

In [121]:
data_small_small = data_small[data_small.music_style == 'popsa']

data_small_small.reset_index(drop=True, inplace=True)

__Вопрос №2:__ Я хочу по всем клипам посмотреть, сколько максимально лайков клип набирал.

In [125]:
max(data.likeCount)

1686810.0

In [126]:
data.likeCount.max()

1686810.0

__Вопрос №3:__ Хочу вывести клип, который набрал максимальное число лайков.

In [128]:
data[data.likeCount == data.likeCount.max()]

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
18649,Элджей & Feduk - Розовое вино,191702.0,151772.0,1686810.0,rap,feduk,208753182.0,3702.0,183.0,485

In [134]:
mx = data.likeCount.max()
data[data.likeCount == mx]

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
18649,Элджей & Feduk - Розовое вино,191702.0,151772.0,1686810.0,rap,feduk,208753182.0,3702.0,183.0,485

__Вопрос №4:__ Хочу вывести клип, который набрал максимальное число дизлайков.

In [139]:
data[data.dislikeCount == data.dislikeCount.max()]

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age
1299,FACE - Я РОНЯЮ ЗАПАД (prod. by JuloOntheTrack),303077.0,640698.0,270794.0,rap,face,14799217.0,1541.0,587.0,382

In [147]:
640698.0 / 14799217.0

0.04329269582302902

__Вопрос №5:__ Посчитать задизлайканный клип более по-умному.

### 2. Как создавать новые данные из существующих?

In [142]:
data['dislike_ratio'] = data['dislikeCount'] / data['viewCount']

In [145]:
data = data[data.viewCount != 0].reset_index(drop=True)

mx = data.dislike_ratio.max()
data[data.dislike_ratio == mx]

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
17805,Ульяна Тучкова,NaN,48.0,10.0,popsa,макsим,719.0,NaN,NaN,1348,0.066759

In [155]:
def max_from_col(data, col):
    mx = data[col].max()
    return data[data[col] == mx]

In [150]:
max_from_col(data, col='likeCount')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
18645,Элджей & Feduk - Розовое вино,191702.0,151772.0,1686810.0,rap,feduk,208753182.0,3702.0,183.0,485,0.000727

In [151]:
max_from_col(data, col='dislikeCount')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
1296,FACE - Я РОНЯЮ ЗАПАД (prod. by JuloOntheTrack),303077.0,640698.0,270794.0,rap,face,14799217.0,1541.0,587.0,382,0.043293

In [152]:
max_from_col(data, col='viewCount')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
2632,Miyagi & Эндшпиль feat. Рем Дигга - I Got Love...,73038.0,71155.0,1297718.0,rap,miyagi&эндшпиль,272047706.0,NaN,NaN,650,0.000262

In [153]:
max_from_col(data, col='dislike_ratio')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
17805,Ульяна Тучкова,NaN,48.0,10.0,popsa,макsим,719.0,NaN,NaN,1348,0.066759

In [154]:
max_from_col(data, col='video_age')

,title,commentCount,dislikeCount,likeCount,music_style,performer,viewCount,commentators_uniq,comments_obscene_cnt,video_age,dislike_ratio
17248,Тараканы! - Кто то из нас двоих,81.0,64.0,1904.0,rock,тараканы,624168.0,58.0,2.0,4574,0.000103

### 3. Как на данных считать статистики?

In [157]:
data['likeCount'].max()

1686810.0

In [158]:
data['likeCount'].sum()

108102685.0

In [159]:
data['likeCount'].mean()

5736.107662103364

In [160]:
data['likeCount'].median()

100.0

In [161]:
salaries = [40000, 30000, 40000, 300000]

sum(salaries) / len(salaries)

102500.0

In [162]:
import numpy as np

In [163]:
np.median(salaries)

40000.0

In [164]:
data['likeCount'].quantile(0.99)

128199.24999999904