## Больше задач на ЗБЧ

In [8]:
import pandas as pd
import numpy as np
import scipy.stats as sts

## 1. Ямете Кудасай

Ахмед очень любит аниме "Наруто" и постоянно пересматривает его. Кол-во серий, которое Ахмед смотрит в день имеет распределение Пуассона с параметром $\lambda = 10$. Ахмед смотрел Наруто целый год и собрал выборку из $365$ наблюдений. Сгенерируйте эту выборку, а затем найдите мат. ожидание и дисперсию.

In [4]:
## Ваш код

## 2. Выпечка

Каждый день Иннокентий съедает случайное количество булочек, которое распределено по Пуассону с параметром $\lambda = 10$. Затраты в рублях на каждую булочку распределены нормально $\mathcal{N}(2,1)$. Ксюша каждый день съедает биномиальное количество булочек $Bin(8, 0.5)$. Затраты Ксюши на каждую булочку распределены равномерно на отрезке $U[2; 20]$.

а) Сколько в среднем Иннокентий тратит на булочки за день?  
б) Чему равна дисперсия дневных расходов Иннокентия?  
в) Какова вероятность того, что за один день Иннокентий потратит больше денег, чем Ксюша?

In [5]:
## Ваш код

## 3. Поиск вероятности

Пусть у вас есть $X_1, X_2, X_3$ случайные величины, которые независимы и одинаково равномерно распределены $X_i \sim U[0;2]$. Оцените следующие вероятности: 

1. $P(X_1 + X_2 + X_3^2 > 5)$
2. $P(X_1 + X_2 + X_3 > 0.8 \mid X_3 < 0.1)$

In [6]:
## Ваш код

## 4. Джеймс. Леброн Джеймс.

## 5. Парадокс дней рождений

__Парадокс дней рождений:__ в произвольной группе из $50$ человек вероятность того, что хотябы у двоих людей дни рождения совпадут, равна $0.97$. Но это в теории, при предпосылке, что люди равномерно рождаются в течение года. Давайте проверим это. 

В табличке `bdates.tsv` лежит информация о $1$ млн. пользователей из вконтакте. В табличке можно найти данные о имени пользователя `first_name`, его поле `sex`, городе проживания `city`, дне `bdate`, месяце `bmonth` и годе `byear` рождения.

In [9]:
df = pd.read_csv("data/vk_bdate.tsv", sep="\t", 
                 dtype={'byear': pd.Int64Dtype(), 
                        'bmonth': pd.Int64Dtype(), 
                         'bday': pd.Int64Dtype()}
                )
print(df.shape)
df.head()

(1000000, 7)

              city first_name         id  sex  byear  bmonth  bday
0      Севастополь     Галина  268520763    1   1955       2     4
1     Новороссийск       Маша  386703913    1   2002       7    10
2  Нижний Новгород  Екатерина  250291860    1   <NA>    <NA>  <NA>
3       Турсунзаде  Μαχμυδσθδ  384274806    2   <NA>    <NA>  <NA>
4              NaN     Bekzod  366702299    2   <NA>    <NA>  <NA>

In [10]:
## Ваш код