## Больше задач на ЗБЧ

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

## 1. Ямете Кудасай

Ахмед очень любит аниме "Наруто" и постоянно пересматривает его. Кол-во серий, которое Ахмед смотрит в день имеет распределение Пуассона с параметром $\lambda = 10$. Ахмед смотрел Наруто целый год и собрал выборку из $365$ наблюдений. Сгенерируйте эту выборку, а затем найдите мат. ожидание и дисперсию.

In [30]:
l = 10

generator = sts.poisson(l)
year_seen = generator.rvs(365)

In [31]:
np.mean(year_seen)

10.24931506849315

In [28]:
np.var(year_seen)

9.532099831112777

In [29]:
# стандратное отклонение
np.std(year_seen)

3.0874098903632436

## 2. Выпечка

Каждый день Иннокентий съедает случайное количество булочек, которое распределено по Пуассону с параметром $\lambda = 10$. Затраты в рублях на каждую булочку распределены нормально $\mathcal{N}(2,1)$. Ксюша каждый день съедает биномиальное количество булочек $Bin(8, 0.5)$. Затраты Ксюши на каждую булочку распределены равномерно на отрезке $U[2; 20]$.

а) Сколько в среднем Иннокентий тратит на булочки за день?  
б) Чему равна дисперсия дневных расходов Иннокентия?  
в) Какова вероятность того, что за один день Иннокентий потратит больше денег, чем Ксюша?

In [34]:
ino_bul_gen = sts.poisson(10)
ino_price_gen = sts.norm(2, 1)

In [37]:
days = 365

ino_bul = ino_bul_gen.rvs(days)
ino_price = ino_price_gen.rvs(days)

In [54]:
ino_total = np.mean(ino_bul * ino_price)
ino_total

19.17780792524565

In [55]:
np.var(ino_bul * ino_price)

142.21303609201127

In [56]:
np.std(ino_bul * ino_price)

11.925310733562092

In [91]:
ino_bul_gen = sts.poisson(10)
ino_price_gen = sts.norm(2, 1)
ksu_bul_gen = sts.binom(8, 0.5)
ksu_price_gen = sts.uniform(2, 18)  # 2 + 18 = 20
# [loc, loc + scale]
# [2, 2 + 18]
# [2, 20]

In [92]:
days = 10000

ino_bul = ino_bul_gen.rvs(days)
ino_price = ino_price_gen.rvs(days)

ksu_bul = ksu_bul_gen.rvs(days)
ksu_price = ksu_price_gen.rvs(days)

ino_total = ino_bul * ino_price
ksu_total = ksu_bul * ksu_price

In [93]:
ino_total[:5]

array([10.8294815 , 14.60582992, 36.30829493, 44.07814347, 18.3273283 ])

In [94]:
ksu_total[:5]

array([57.49360602, 60.64060505, 66.23934008, 20.68927113, 41.22776677])

In [95]:
np.mean(ino_total > ksu_total)

0.2211

## 3. Поиск вероятности

Пусть у вас есть $X_1, X_2, X_3$ случайные величины, которые независимы и одинаково равномерно распределены $X_i \sim U[0;2]$. Оцените следующие вероятности: 

1. $P(X_1 + X_2 + X_3^2 > 5)$
2. $P(X_1 + X_2 + X_3 > 0.8 \mid X_3 < 0.1)$

In [6]:
## Ваш код

## 4. Джеймс. Леброн Джеймс.

## 5. Парадокс дней рождений

__Парадокс дней рождений:__ в произвольной группе из $50$ человек вероятность того, что хотябы у двоих людей дни рождения совпадут, равна $0.97$. Но это в теории, при предпосылке, что люди равномерно рождаются в течение года. Давайте проверим это. 

В табличке `bdates.tsv` лежит информация о $1$ млн. пользователей из вконтакте. В табличке можно найти данные о имени пользователя `first_name`, его поле `sex`, городе проживания `city`, дне `bdate`, месяце `bmonth` и годе `byear` рождения.

In [96]:
df = pd.read_csv("data/vk_bdate.tsv", sep="\t", 
                 dtype={'byear': pd.Int64Dtype(), 
                        'bmonth': pd.Int64Dtype(), 
                         'bday': pd.Int64Dtype()}
                )
print(df.shape)
df.head()

(1000000, 7)

              city first_name         id  sex  byear  bmonth  bday
0      Севастополь     Галина  268520763    1   1955       2     4
1     Новороссийск       Маша  386703913    1   2002       7    10
2  Нижний Новгород  Екатерина  250291860    1   <NA>    <NA>  <NA>
3       Турсунзаде  Μαχμυδσθδ  384274806    2   <NA>    <NA>  <NA>
4              NaN     Bekzod  366702299    2   <NA>    <NA>  <NA>

In [99]:
df.isnull().sum()

city          245482
first_name         0
id                 0
sex                0
byear         558800
bmonth        305245
bday          305245
dtype: int64

In [103]:
need_df = df[['bmonth', 'bday']]
need_df = need_df.dropna()

In [112]:
need_df.head()

   bmonth  bday
0       2     4
1       7    10
6      12    21
8       3     8
9      12    14

In [165]:
def one_group():
    sample_df = need_df.sample(n=50)

    agg_sample_df = (
        sample_df
        .groupby(['bmonth', 'bday'])
        .size()
        .reset_index()
    )

    result = agg_sample_df[0].max() > 1
    return result

In [168]:
N = 1_000
result = []

for i in range(N):
    result.append(one_group())

In [170]:
np.mean(result)

0.972

In [175]:
need_df['concat'] = need_df['bmonth'].astype(str) + '-' + need_df['bday'].astype(str)

In [181]:
need_df.groupby('concat').size().reset_index().sort_values(0, ascending=False)

    concat     0
1      1-1  9442
124    2-1  4547
304    7-7  3489
241    5-5  3438
185    4-1  3400
..     ...   ...
84   11-29  1409
79   11-24  1390
145   2-29   563
0    1--99     2
147   2-30     1

[368 rows x 2 columns]

In [184]:
df[df['bday'] == -99]

       city first_name        id  sex  byear  bmonth  bday
273590  NaN         Да  37000274    2   <NA>       1   -99
521036  NaN      Angel  38598573    2   <NA>       1   -99

In [185]:
df.describe()

,id,sex,byear,bmonth,bday
count,1.000000e+06,1000000.000000,441200.000000,694755.000000,694755.000000
mean,2.501112e+08,1.540036,1988.685476,6.175918,14.561343
std,1.032251e+08,0.498395,17.700429,3.411687,8.949998
min,5.000000e+00,1.000000,1901.000000,1.000000,-99.000000
25%,1.933621e+08,1.000000,1986.000000,3.000000,7.000000
50%,2.564869e+08,2.000000,1993.000000,6.000000,14.000000
75%,3.254044e+08,2.000000,1999.000000,9.000000,22.000000
max,4.811556e+08,2.000000,2004.000000,12.000000,31.000000

### 6. Парадокс Монти Холла

In [ ]:
[1, 2, 3]

player = 1
vedu = 2 or 3 was opened

In [ ]:
pla = 1
vedu = 2 (nothing)

1 (1/3) и 3(2/3)

In [232]:
def game(change: bool):
    doors = set([1, 2, 3])
    priz = np.random.choice([1, 2, 3])
    player_choice = np.random.choice([1, 2, 3])
    
    left_doors = list(doors - {priz} - {player_choice})
    open_door = np.random.choice(left_doors)
    
    if change:
        final_door = list(doors - {open_door} - {player_choice})[0]
    else:
        final_door = player_choice
    
#     print(f'Приз за дверью: {priz}')
#     print(f'Мы выбрали дверь: {player_choice}')
#     print(f'Открыли дверь: {open_door}')
#     print(f'В итоге выбрали дверь: {final_door}')
    
    return final_door == priz

In [251]:
game(change=True)

True

In [252]:
N = 1000
result = []

for _ in range(N):
    result.append(game(change=True))
    
np.mean(result)

0.677

In [253]:
N = 1000
result = []

for _ in range(N):
    result.append(game(change=False))
    
np.mean(result)

0.331