## Больше задач на ЗБЧ

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

## 1. Ямете Кудасай

Ахмед очень любит аниме "Наруто" и постоянно пересматривает его. Кол-во серий, которое Ахмед смотрит в день имеет распределение Пуассона с параметром $\lambda = 10$. Ахмед смотрел Наруто целый год и собрал выборку из $365$ наблюдений. Сгенерируйте эту выборку, а затем найдите мат. ожидание и дисперсию.

In [132]:
## Ваш код

lambda_ = 10 # E(X), Var(X)
n = 365

poiss = sts.poisson(lambda_)

In [152]:
poiss_sample = poiss.rvs(size=n)

In [153]:
np.mean(poiss_sample)

9.95890410958904

In [40]:
np.var(poiss_sample)

9.487213360855694

## 2. Выпечка

Каждый день Иннокентий съедает случайное количество булочек, которое распределено по Пуассону с параметром $\lambda = 10$. Затраты в рублях на каждую булочку распределены нормально $\mathcal{N}(4,1)$. Ксюша каждый день съедает биномиальное количество булочек $Bin(8, 0.5)$. Затраты Ксюши на каждую булочку распределены равномерно на отрезке $U[2; 20]$.

а) Сколько в среднем Иннокентий тратит на булочки за день?  
б) Чему равна дисперсия дневных расходов Иннокентия?  
в) Какова вероятность того, что за один день Иннокентий потратит больше денег, чем Ксюша?

In [46]:
## Ваш код

innok_bulki = sts.poisson(10)
innok_spend = sts.norm(4, 1)

ksusha_bulki = sts.binom(8, 0.5)
ksusha_spend = sts.uniform(2, 20)

# генерируем выборки
n = 200
innok_bulki_sample = innok_bulki.rvs(n)
innok_spend_sample = innok_spend.rvs(n)
ksusha_bulki_sample = ksusha_bulki.rvs(n)
ksusha_spend_sample = ksusha_spend.rvs(n)

In [50]:
# a)
np.mean(innok_bulki_sample * innok_spend_sample)

# имеем распределение Poisson * Norm - понятия не имеем, что за распределение и что там за мат. ожидание
# поэтому считаем тупо среднее на выборке и верим в Закон Больших Чисел

39.46007425907861

In [51]:
# б)
np.var(innok_bulki_sample * innok_spend_sample)

195.86575647357165

In [52]:
# в)
innok_sum_spends = innok_bulki_sample * innok_spend_sample
ksusha_sum_spends = ksusha_bulki_sample * ksusha_spend_sample

In [56]:
temp = innok_sum_spends > ksusha_sum_spends

In [58]:
sum(temp) / len(temp)

0.435

## 3. Поиск вероятности

Пусть у вас есть $X_1, X_2, X_3$ случайные величины, которые независимы и одинаково равномерно распределены $X_i \sim U[0;2]$. Оцените следующие вероятности: 

1. $P(X_1 + X_2 + X_3^2 > 5)$
2. $P(X_1 + X_2 + X_3 > 0.8 \mid X_3 < 0.1)$

In [59]:
## Ваш код

x1 = sts.uniform(0, 2)
x2 = sts.uniform(0, 2)
x3 = sts.uniform(0, 2)

n = 1000
x1_sample = x1.rvs(n)
x2_sample = x2.rvs(n)
x3_sample = x3.rvs(n)

In [63]:
temp = x1_sample + x2_sample + x3_sample**2 > 5

In [64]:
sum(temp) / len(temp)

0.149

## 4. Джеймс. Леброн Джеймс.

## 5. Парадокс дней рождений

__Парадокс дней рождений:__ в произвольной группе из $50$ человек вероятность того, что хотябы у двоих людей дни рождения совпадут, равна $0.97$. Но это в теории, при предпосылке, что люди равномерно рождаются в течение года. Давайте проверим это. 

В табличке `bdates.tsv` лежит информация о $1$ млн. пользователей из вконтакте. В табличке можно найти данные о имени пользователя `first_name`, его поле `sex`, городе проживания `city`, дне `bdate`, месяце `bmonth` и годе `byear` рождения.

In [98]:
df = pd.read_csv("data/vk_bdate.tsv", sep="\t", 
                 dtype={'byear': pd.Int64Dtype(), 
                        'bmonth': pd.Int64Dtype(), 
                         'bday': pd.Int64Dtype()}
                )
print(df.shape)
df.head()

(1000000, 7)

              city first_name         id  sex  byear  bmonth  bday
0      Севастополь     Галина  268520763    1   1955       2     4
1     Новороссийск       Маша  386703913    1   2002       7    10
2  Нижний Новгород  Екатерина  250291860    1   <NA>    <NA>  <NA>
3       Турсунзаде  Μαχμυδσθδ  384274806    2   <NA>    <NA>  <NA>
4              NaN     Bekzod  366702299    2   <NA>    <NA>  <NA>

## Предобработка данных

In [99]:
## Выкидываем пропуски
df = df.dropna()

In [101]:
## делаем удобную колонку
df = df.astype('str')
df['birth_date'] = df['bmonth'] + '-' + df['bday']

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376583 entries, 0 to 999993
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   city        376583 non-null  object
 1   first_name  376583 non-null  object
 2   id          376583 non-null  object
 3   sex         376583 non-null  object
 4   byear       376583 non-null  object
 5   bmonth      376583 non-null  object
 6   bday        376583 non-null  object
 7   birth_date  376583 non-null  object
dtypes: object(8)
memory usage: 25.9+ MB

## Моделируем ЗБЧ

In [128]:
# смоделировал игру
def check_births(df, sample_size):
    
    df_sample = df.sample(sample_size)
    births = df_sample.birth_date.nunique()
    
    return births < sample_size # если меньше, то тогда есть люди с одинаковым днем рождения

In [129]:
from tqdm import tqdm

In [130]:
# запускаю игру кучу раз и считаю вероятность
n = 1000

success = 0
for _ in tqdm(range(n)):
    success += check_births(df, sample_size=23)

success / n

100%|██████████| 1000/1000 [00:09<00:00, 103.79it/s]

0.528